defaults
tls_trust_file /etc/ssl/certs/ca-certificates.crt
syslog LOG_USER
logfile ~/.msmtp.log
timeout 60

{% for account in mail_accounts %}
account     {{account.name}}
host        {{account.smtp_host}}
port        {{account.smtp_port}}
from        {{account.from_address}}
user        {{account.user}}
password    {{account.password}}
{% if account.smtp_auth == "tls" %}
auth            on
tls             on
tls_starttls    off
{% endif %}

{% endfor %}
