set editor="nvim"
bind index,pager B sidebar-toggle-visible

set pager_index_lines = 15
set pager_context = 3
set pager_stop
set menu_scroll
set tilde
unset markers

# Sidebar
set sidebar_visible = yes

{% for account in mail_accounts %}

{% endfor %}
mailboxes ="{{item.user}}"
mailboxes `find ~/Mail/{{item.name}}/* -maxdepth 0 -type d | grep -v "tmp\|new\|cur" | sed 's|/home/stgtk/.mail/|=\"|g' | sed 's|$|\"|g' | tr '\n' ' '`

set folder ="~/.mail"
{% for account in mail_accounts %}
folder-hook 'account.{{account.name}}' 'source ~/.mutt/account.{{account.name}}'
{% endfor %}

source ~/.mutt/account.{{mail_accounts[0].name}}
