mailboxes ="{{item.user}}"
mailboxes `find ~/Mail/{{item.name}}/* -maxdepth 0 -type d | grep -v "tmp\|new\|cur" | sed 's|/home/stgtk/.mail/|=\"|g' | sed 's|$|\"|g' | tr '\n' ' '`
set from = "{{item.from_address}}"                            
set realname = "{{item.from_name}}"                                  
set use_from = "yes"
set reply_to = "yes"
set sendmail = "msmtp -a {{item.name}}"
set sendmail_wait = 0
set mbox = "+{{item.name}}/INBOX"
set spoolfile = "+{{item.name}}/INBOX"                                      
set postponed = "+{{item.name}}/INBOX/Drafts"                             
set record = "+{{item.name}}/Sent"
set header_cache = ~/.mutt/{{item.name}}/cache/headers            
set message_cachedir = ~/.mutt/{{item.name}}/cache/bodies         
set certificate_file = ~/.mutt/{{item.name}}/certificates    

