[general]
accounts = {{ mail_accounts | join(', ', attribute='name') }}

{% for account in mail_accounts %}
[Account {{account.name}}]
localrepository = {{account.name}}-local
remoterepository = {{account.name}}-remote
postsynchook = notmuch new

[Repository {{account.name}}-remote]
type = IMAP
remotehost = {{account.imap_host}}
remoteport = {{account.imap_port}}
remoteuser = {{account.user}}
remotepass = {{account.password}}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{% if account.ssl is defined and account.ssl == False %}
ssl = no
{% endif %}
{% if account.folders is defined %}
folderfilter = lambda foldername: foldername in ['{{ account.folders | join('\', \'') }}']
{% endif %}
createfolders = False
maxconnections = 2

[Repository {{account.name}}-local]
type = Maildir
localfolders = ~/.mail//{{account.name}}
restoreatime = no

{% endfor %}
